<div layout="row">
  <div flex><md-content class="">
	    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
	      <md-tab id="tab0">
					<md-tab-label>
						<ng-md-icon icon = "find_in_page">
						</ng-md-icon>
					</md-tab-label>
	        <md-tab-body>
	          View for Item #0 <br/>
	          data.selectedIndex = 0;
	        </md-tab-body>
	      </md-tab>
	      <md-tab id="tab1">
			   <md-tab-label>
				   <ng-md-icon icon = "add_box">
				   </ng-md-icon>
			   </md-tab-label>
	        <md-tab-body>
	          View for Item #1 <br/>
	          data.selectedIndex = 1;
	        </md-tab-body>
	      </md-tab>
	      <md-tab id="tab2">
		  	 <md-tab-label>
			  	 <ng-md-icon icon = "delete">
			   	</ng-md-icon>
		   	 </md-tab-label>
	        <md-tab-body>
	          View for Item #2 <br/>
	          data.selectedIndex = 2;
	        </md-tab-body>
	      </md-tab>
	      <md-tab id="tab3">
		  	 <md-tab-label>
			  	 <ng-md-icon icon = "edit">
			   	</ng-md-icon>
		   	 </md-tab-label>
	        <md-tab-body>
	          View for Item #3 <br/>
	          data.selectedIndex = 3;
	        </md-tab-body>
	      </md-tab>
	      <md-tab id="tab3">
	  		  <md-tab-label>
		  		  <ng-md-icon icon = "sort_by_alpha">
		   		 	</ng-md-icon>
	   	 		</md-tab-label>
	        <md-tab-body>
	          View for Item #4 <br/>
	          data.selectedIndex = 4;
	        </md-tab-body>
	      </md-tab>
	  </md-content></div>
  <div flex>
  </div>
</div>