<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs layout="column">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" style = "color:#FF5600;">
							About Us</span>
          <span class="md-subhead">CS Volunteering</span>
        </md-card-title-text>
      </md-card-title>
    <md-card-content>
			<p>
			Our website application with a database back-end, facilitates the Computer Science department to coordinate and manage events, 			keep 	track of volunteers and their hours, and allow volunteers to register for volunteering events in a user friendly way.
			</p>
	 	</md-card-content>
   </md-card>
	</div>
</md-content>

