<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs layout="column">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" style = "color:#FF5600;">
							Contact Us</span>
          <span class="md-subhead">CS Volunteering</span>
        </md-card-title-text>
      </md-card-title>
    <md-card-content>
		<p style = "color:#FF5600;"> 
			Contact:</br>
		</p>
			<p>
				If you have any questions or concerns see below for all the ways to reach us:</br>
				Phone, Fax, and Email</br>
				Phone: (915) 747-1234</br>
				Fax: (915) 747-1235</br>
				<mailto>csvolunteering@utep.edu</mailto></br>
			</p>

			<p style = "color:#FF5600;"> 
				Mailing Address:</br>
			</p>
			<p>
			Chemistry & Computer Science Building</br>
			Room 1.701</br>
			The University of Texas at El Paso</br>
			500 W. University Ave.</br>
			El Paso TX, 79968</br>
			</p>
	 	</md-card-content>
   </md-card>
	</div>
</md-content>