<?php session_start();?>
<style>
.diabled-class{
	background-color:green;
	color:white;
}
</style>
<md-card>
	<md-card-title>
  	<md-card-title-text>
    	<span class="md-headline">Profile</span>
		</md-card-title-text>
	</md-card-title>
 	<md-card-content>
	 	<section layout="row">
	 		<table class="table table-bordered" flex = "60">
	 		  <tbody>
	 		    <tr>
	 		      <th>Username</th>
	 		      <td>
	 						{{profile.username}}
	 					</td>
	 		    </tr>
	 		    <tr>
	 		      <th>Total Hours</th>
	 		      <td>{{profile.hours}}</td>
	 		    </tr>	
	 		  </tbody>
	 		</table>
	 	</section>
 	</md-card-content>
 <md-card-footer>
 	<section layout="row" layout-align="center center">
	  <md-list flex = "40%">
	  	<md-subheader class="md-no-sticky">
				Events Registered
			</md-subheader>
	    <md-list-item class="md-3-line" ng-repeat = "e in profile.events" ng-click="null">
		 		<table flex>
		 		  <tbody>
		 		    <tr>
		 		      <th>Event Name</th>
		 		      <td>
		 						{{e.name}}
		 					</td>
		 		    </tr>
		 		    <tr>
		 		      <th>Event Description</th>
		 		      <td>
		 						{{e.description}}
		 					</td>
		 		    </tr>
		 		    <tr>
		 		      <th>Event status</th>
		 		      <td>
		 		      	{{e.status}}
		 		      </td>
		 		    </tr>
		 		    <tr>
		 		      <th>Hours completed</th>
		 		      <td>
		 		      	{{e.hours}}
		 		      </td>
		 		    </tr>	
		 		  </tbody>
		 		</table>
			</md-list-item>
		</md-list>
	</section>
 </md-card-footer>
</md-card>